/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


body{
	font-family: 'Montserrat', sans-serif;
	background:#fafafa;
	color:#181847;
}
a{
	text-decoration: none;		
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.clear{
	clear:both;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999;
}
.bg-white{
	background: #fff;
	padding:50px 0;
}
.back{
	margin-top: 100px;
	text-transform: uppercase;
	font-size: 18px;
	text-align:center;
	a{
		display: inline-block;
		color: #fff;
		border-radius:5px;
		background: #2eb24c;
		text-decoration: none;
		padding: 10px 40px;
		border: 1px solid #2eb24c;
		&:hover{
			background: transparent;
			color:#181847;
		}
	}
}


#map{
  width: 100%;
  height: 620px;
}

#wrapper{
	overflow:hidden;
	#home{
		position:relative;
		.header{
			position:absolute;
			left: 0;
    		right: 0;
    		z-index: 9;
    		background: #fff;
    		.header-left{
    			@media(max-width:1024px){
    				width: 100%;
    			}
				.logo{
				    margin-left: -50px;
				    @media(max-width:1024px){
				    	margin: 0;
				    	float: left;
				    }
				}
				.navbar-header{
					@media(max-width:1024px){
						display: block !important;
						float: right;
					}
					.navbar-toggle{
						@media(max-width:1024px){
							display: block !important;
						}
						border:1px solid #ccc;
						.icon-bar{
							background: #ccc;
						}
					}
				}
    		}
    		.header-right{
    			@media(max-width:1024px){
    				width: 100%;
    			}
    			.header-right-wrapper{
    				.header-right-1{
					    float: right;
    					text-align: center;
    					@media(max-width:1024px){
    						display: none;
    					}
    					ul{
    						padding: 0;
						    margin: 20px 0;
    						display: inline-block;
    						li{
    							list-style: none;
    							font-size: 16px;
    							float: left;
    							margin-right: 30px;
    							a{
    								text-decoration: none;
    								color: #2eb24c;
    							}
    							&:first-child{
    								background: url(../img/icon-phone.png) no-repeat left center;
    								padding-left: 30px;
    							}
    							&:last-child{
    								margin-right: 0;
    								background: url(../img/icon-email.png) no-repeat left center;
    								padding-left: 30px;
    							}
    						}
    					}
    				}
    				.header-right-2{
					    float: right;
    					text-align: center;
    					@media(max-width:1024px){
    						float: none;
    					}
    					.menus-desktop{
    						display: inline-block;
    						@media(max-width:1024px){
    							display: none;
    						}
							ul{
	    						padding:0;
	    						margin: 10px 0;
	    						li{
	    							list-style: none;
	    							float: left;
	    							margin-right: 50px;
	    							text-transform: uppercase;
	    							font-size: 16px;
	    							position:relative;
	    							&:hover{
	    								.submenu{
    										display: block;
    									}
	    							}
	    							a{
										text-decoration: none;
	    								color: #fff;
	    								padding:20px 0;
	    								&:hover{
	    									color: #2eb24c;
	    								}
	    							}
	    							&:last-child{
	    								margin-right: 0;
	    							}
	    							.active{
	    								color: #2eb24c;
	    							}
	    							.submenu{
	    								display: none;
								        position: absolute;
									    top: 30px;
									    background: #fff;
									    border-radius: 0% 0 8% 8%;
									    padding: 10px 20px;
    								    li{
    								    	text-transform: none;
    								    	display: block;
								    	    float: none;
								    	    text-align: left;
								    	    width: 100%;
								    	    margin-bottom: 10px;
								    	    font-weight: 400;
    								    	font-size: 13px;
    								    	a{
    								    		color: #000;
    								    		padding:0;
    								    		display: block;
												&:hover{
													color: #2eb24c;
												}
    								    	}
    								    }
	    							}
	    						}
	    					}
    					}
    					.menus-mobile{
    						@media(max-width:1024px){
    							display: block !important;
    						}
						    background: #fff;
    						text-align: left;
    						#navbar{
    							.navbar-nav{
    								li{
    									float: none;
    									a{
    										color: #333;
    									}
    								}    								
    								.mobile-second-menu{
    									ul{
										    padding: 10px 16px !important;
										    li{
	    										list-style: none;
											    padding-left: 30px;											    
											    &:first-child{
				    								background: url(../img/icon-phone-black.png) no-repeat left center;
				    								margin-bottom: 10px;
				    							}
				    							&:last-child{
				    								margin-right: 0;
				    								background: url(../img/icon-email-black.png) no-repeat left center;
				    							}
	    									}   
    									}    																		
    								}
    							}
    						}
    						.collapse{
    							display: none !important;
    						}
    						.in{
							    display: block !important;
						        overflow-y: auto !important;
    						}
    					}
    				}
    			}
    		}
		}
		.transparent{
			background: transparent;
		}
		.home-bg-wrapper{
			position:relative;
			background:url(../img/img-home.jpg) no-repeat center center;
			background-size:cover;
			min-height: 1131px;
			@media(max-width:1024px){
				min-height: 700px;
			}
			@media(max-width:667px){
				min-height: 800px;
			}
			// @media(max-width:375px){
			// 	min-height: 800px;
			// }
			.overlay{
				background: rgba(24, 24, 71, 0.7);
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			}
			.content-home{
			    position: absolute;
			    top: 25%;
			    left: 0;
			    right: 0;
			    margin: auto;
			    @media(max-width:1024px){
			    	top: 10%;
			    }
				.tagline{
					color: #fff;
					width: 60%;
					@media(max-width:1024px){
						width: 100%;
					    margin-top: 90px;
					}
					h3{
						font-size: 24px;
						font-family: 'Open Sans', sans-serif;
						text-transform: uppercase;
					}
					h2{
						font-size: 60px;
					    line-height: 60px;
					}
					.desc{
						font-family: 'Open Sans', sans-serif;
						font-size: 24px;
						line-height: 28px;
						font-weight: 300;
					    width: 80%;
				        margin-top: 90px;
				        @media(max-width:1024px){
				        	width: 100%;
				        	font-size: 20px;
				        	margin-top: 0;
				        }
					}
					.readmore{
						margin-top: 100px;
						text-transform: uppercase;
						font-size: 18px;
						a{
							display: inline-block;
							color: #fff;
							border-radius:5px;
							background: #2eb24c;
							text-decoration: none;
							padding: 10px 40px;
							border: 1px solid #2eb24c;
							&:hover{
								background: transparent;
							}
						}
					}
				}
			}
		}
		.service-static-wrapper{
			margin-top: -200px;
			padding-bottom:60px;
			@media(max-width:1024px){
				margin-top: 0;
			}

			.service-static-block{
				@media(max-width:1024px){
					margin-bottom: 20px;
				}
				a{
					background:#fff;
					text-align: center;
					color: #181847;
					display: inline-block;
    				padding: 60px 50px;
    				text-decoration: none;
    				&:hover{
    					background:#181847;
    					color: #fff;
    				}
					.img{
						height: 185px;
						img{
							display: inline-block;
						}
					}
					.title{
						font-size: 24px;
						margin-bottom: 20px;
					}
					.desc{
						font-weight: 300;
						font-size: 16px;
						font-family: 'Open Sans', sans-serif;
					}
				}
			}			
		}
		.call-service-wrapper{
			padding-top:120px;
			text-align: center;
			.title{
				font-size: 60px;
				font-weight: 300;
				display: inline-block;
    			width: 65%;
    			margin-bottom: 50px;
    			@media(max-width:1024px){
    				width: 100%;
    				font-size: 42px;
    			}
			}
			.desc{
				font-size: 24px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				margin-bottom: 35px;
			}
			.img{
				img{
					display: inline-block
				}
			}
		}
		.about-block-wrapper{
			background: url(../img/bg-about.jpg) no-repeat;
			background-size: cover;
			min-height: 985px;
		    padding: 180px 0;
			.about-block-left{
				.about-block-column{
				    position: relative;
					.about-block-column-img{
						@media(max-width:768px){
							text-align: center;
						}
						.col-left{
							float: left;
							margin-right: 10px;
							@media(max-width:768px){
								float: none;
								margin: 0;
								display: inline-block;
							}
							.img{
								margin-bottom: 10px;
								img{
								    object-fit: cover;
								    width: 270px;
								    height: 180px;
								}
							}
						}	
						.col-right{
							float: left;
						    padding-top: 100px;
						    @media(max-width:768px){
								float: none;
								display: inline-block;
								padding-top:0;
							}
							.img{
								margin-bottom: 10px;
								img{
								    object-fit: cover;
								    width: 270px;
								    height: 180px;
								}
							}
						}	
					}
					.title-hori{
						 -webkit-transform: rotate(-90deg); 
					     -moz-transform: rotate(-90deg); 
					      -ms-transform: rotate(-90deg); 
					       -o-transform: rotate(-90deg); 
					          transform: rotate(-90deg);
					            color: #fff;
					            font-size: 24px;  
					            font-weight: 300;
							    float: left;
							    vertical-align:top;
							    text-transform: uppercase;
							    position: absolute;
								bottom: -35px;
								border-bottom: 1px solid;
								height: 32px;
								width: 150px;
								text-align: right;
								left: -60px;
					}
				}
			}
			.about-block-right{
				.about-block-column{
					text-align: right;
					color: #fff;
				    padding-top: 100px;
					.title{
						font-weight: 300;
						font-size: 60px;
						text-transform: uppercase;
						margin-bottom: 20px;
					}
					.desc{
						font-family: 'Open Sans', sans-serif;
						font-weight:300;
						font-size: 24px;
					}
					.readmore{
						margin-top: 70px;
						text-transform: uppercase;
						font-size: 18px;
						a{
							display: inline-block;
							border-radius:5px;
							color: #fff;
							background: #2eb24c;
							text-decoration: none;
							padding: 10px 40px;
							border: 1px solid #2eb24c;
							&:hover{
								background: transparent;
							}
						}
					}
				}
			}
		}
		.contact-service-wrapper{
			background: #fff url(../img/peta.png) no-repeat center center;
			min-height: 869px;
			text-align: center;
			padding:150px 0;
			.title{
				font-size: 60px;
				text-transform: uppercase;
				font-weight: 300;
				margin-bottom: 50px;
			}
			.desc{
				color: #373737;
				font-size: 24px;
				font-family: 'Open Sans', sans-serif;
				font-weight:300;
				padding: 0 10%;
				margin-bottom: 50px;
			}
			.contact-form-wrapp{
				form{
					display: inline-block;
					width: 560px;
					@media(max-width:1024px){
						width: 100%;
					    padding-bottom: 40px;
					}
					.form-group{
						margin-bottom: 30px;
						.col-sm-6:nth-child(1){
							@media(max-width:736px){
								margin-bottom: 30px;
							}
						}
						input{
							background:#edeef5;
							font-size: 14px;
							color: #999;
						}
						textarea{
							background:#edeef5;
							font-size: 14px;
						    padding: 6px 12px;
							color: #999;	
						    border: 1px solid #ccc;
	    					border-radius: 4px; 
	    					@media(max-width:1024px){
								width: 100%;
							}
						}
						.send{
							float: right;
							border-radius:4px;
							color: #fff;
							background: #0bd440;
							text-decoration: none;
							padding: 10px 60px;
							border: 1px solid #2eb24c;
							text-transform: uppercase
						}
					}					
				}
			}
		}
		.testimoni-home-wrapper{
			position:relative;
		    background: url(../img/bg-testi.jpg) no-repeat center;
		    background-size:cover;
    		min-height: 707px;
    		color: #fff;
			.overlay{
				background: rgba(24, 24, 71, 0.7);
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			}
			.testimoni-home-block{
				padding:130px 0;
				position:relative;
				text-align: center;
				.title{
					font-size: 60px;
					padding-bottom:60px;
					font-weight: 300;
					text-transform: uppercase;
				}
				.quote{
					text-align: center;
					padding-bottom:30px;
					img{
						display: inline-block;
					}
				}
				.testimoni-slide-column{
					outline: none;
					.left{
						position:absolute;
						left: 0;
						top: 5%;
						font-size: 30px;
					    border: 2px solid;
					    border-radius: 50%;
					    width: 50px;
					    height: 50px;
					    line-height: 45px;
					    outline: none;
					    &:hover{
					    	color: #2eb24c;
					    }
					    @media(max-width:1024px){
				    		display: none !important;
					    }
					}
					.right{
						position: absolute;
					    right: 0;
					    top: 5%;
					    cursor: pointer;
					    font-size: 30px;
					    border: 2px solid;
					    border-radius: 50%;
					    width: 50px;
					    height: 50px;
					    line-height: 45px;
					    outline: none;
					    &:hover{
					    	color: #2eb24c;
					    }
					    @media(max-width:1024px){
				    		display: none !important;
					    }
					}
					.slick-dots{
						li{
							display: inline-block;
							button{
								background:#fff;
								width: 20px;
								height: 20px;
								text-indent: 9999px;
								border-radius:50%;
								margin-right: 10px;
								border:none;
							}
						}
						.slick-active{
							button{
    							background: #0bd440;
							}
						}
					}
					.testimoni-slide{
						outline: none;
						.desc{
							font-size: 24px;
							font-family: 'Open Sans', sans-serif;
							font-weight:300;
						    padding: 0 100px;
						    @media(max-width:1024px){
						    	padding:0;
						    }
						}
						.user{
							display: inline-block;
							margin-top: 60px;
							.avatar{
								float: left; 
								img{
									width: 70px;
									height: 70px;
									border-radius: 50%;
								}
							}
							.user-detail{
								float: left;
								margin-left: 20px;
								line-height: 30px;
								text-align: left;
								font-size: 16px;
								.name{
									text-transform: uppercase;
									color: #fff;
								}
								.position{
									color: #999;
								}
							}
						}
					}
				}
			}
		}
	}
	#page{
		position:relative;
		.header{
			position:absolute;
			left: 0;
    		right: 0;
    		z-index: 9;
    		background: #fff;
		    min-height: 130px;
    		.header-left{
    			@media(max-width:1024px){
    				width: 100%;
    			}
				.logo{
				    margin-left: -50px;
				    @media(max-width:1024px){
				    	margin: 0;
				    	float: left;
				    }
				}
				.navbar-header{
					@media(max-width:1024px){
							display: block !important;
							float: right;
						}
					.navbar-toggle{
						@media(max-width:1024px){
							display: block !important;
						}
						border:1px solid #ccc;
						.icon-bar{
							background: #ccc;
						}
					}
				}
    		}
    		.header-right{
    			@media(max-width:1024px){
    				width: 100%;
    			}
    			.header-right-wrapper{
    				.header-right-1{
					    float: right;
    					text-align: center;
    					@media(max-width:1024px){
    						display: none;
    					}
    					ul{
    						padding: 0;
						    margin: 20px 0;
    						display: inline-block;
    						li{
    							list-style: none;
    							font-size: 16px;
    							float: left;
    							margin-right: 30px;
    							a{
    								text-decoration: none;
    								color: #2eb24c;
    							}
    							&:first-child{
    								background: url(../img/icon-phone-black.png) no-repeat left center;
    								padding-left: 30px;
    							}
    							&:last-child{
    								margin-right: 0;
    								background: url(../img/icon-email-black.png) no-repeat left center;
    								padding-left: 30px;
    							}
    						}
    					}
    				}
    				.header-right-2{
					    float: right;
    					text-align: center;
    					@media(max-width:1024px){
    						float: none;
    					}
    					.menus-desktop{
    						@media(max-width:1024px){
    							display: none;
    						}
    						display: inline-block;
							ul{
	    						padding:0;
	    						margin: 10px 0;
	    						li{
	    							list-style: none;
	    							float: left;
	    							margin-right: 50px;
	    							text-transform: uppercase;
	    							font-size: 16px;
	    							position:relative;
	    							&:hover{
	    								.submenu{
    										display: block;
    									}
	    							}
	    							a{
										text-decoration: none;
	    								color: #181847;
	    								padding:20px 0;
	    								&:hover{
	    									color: #2eb24c;
	    								}
	    							}
	    							&:last-child{
	    								margin-right: 0;
	    							}
	    							.active{
	    								color: #2eb24c;
	    							}
	    							.submenu{
	    								display: none;
								        position: absolute;
									    top: 30px;
									    background: #fff;
									    border-radius: 0% 0 8% 8%;
									    padding: 10px 20px;
    								    li{
    								    	text-transform: none;
    								    	display: block;
								    	    float: none;
								    	    text-align: left;
								    	    width: 100%;
								    	    margin-bottom: 10px;
								    	    font-weight: 400;
    								    	font-size: 15px;
    								    	a{
    								    		color: #000;
    								    		padding:0;
    								    		display: block;
												&:hover{
													color: #2eb24c;
												}
    								    	}
    								    }
	    							}
	    						}
	    					}
    					}
    					.menus-mobile{
    						@media(max-width:1024px){
    							display: block !important;
    						}
						    background: #fff;
    						text-align: left;
    						#navbar{
    							.navbar-nav{
    								li{
    									float: none;
    									a{
    										color: #333;
    									}
    								}
    								.mobile-second-menu{
    									ul{
										    padding: 10px 16px !important;
										    li{
	    										list-style: none;
											    padding-left: 30px;											    
											    &:first-child{
				    								background: url(../img/icon-phone-black.png) no-repeat left center;
				    								margin-bottom: 10px;
				    							}
				    							&:last-child{
				    								margin-right: 0;
				    								background: url(../img/icon-email-black.png) no-repeat left center;
				    							}
	    									}   
    									}    																		
    								}
    							}
    						}
    						.collapse{
    							display: none !important;
    						}
    						.in{
							    display: block !important;
						        overflow-y: auto !important;
    						}
    					}
    				}
    			}
    		}
		}
		.inner-detail-wrapper{
			padding-top:80px;
			.column-left{
				.widget{
					.title{
						color: #181847;
						font-size: 24px;
						text-transform: uppercase;
						font-weight: 300;
						padding:20px;
						// border-right:1px solid #dcdcdc;
					}
					.menus{
						ul{
							padding:0;
							margin:0;
							li{
								list-style: none;
								font-size: 18px;
								font-weight: 300;
								border-bottom:1px solid #dcdcdc;
								// border-right:1px solid #dcdcdc;
								padding:20px;
								a{
									color: #373737;
									text-decoration: none;
									display: block;
									&:hover{
										color: #0bd440;
									}
								}
							}
						}
					}
					.satu{
						li{
							text-transform: uppercase;
							a{
								padding-left:60px;
								&:hover{
									color: #0bd440;
								}
							}
						}
						.active{
						    border: 2px solid #0bd440;
						    a{
						    	color: #0bd440;
						    }
						}
					}
					.dua{
						li{
							.ico{
								float: left;
								color: #0bd440;
								font-size: 25px;
								width: 40px;
								text-align: center;
								margin-right: 20px;
							}
						}
					}
				}
			}
			.column-right{
			    border-left: 1px solid #dcdcdc;
			    margin-bottom: 100px;
			    .content{
			    	padding-left: 20px;
			    	.slider-for{
						position:relative;
			    		.right{
							position: absolute;
							right: -12px;
							background: rgba(24, 24, 71, 0.8);
							padding: 2px 10px;
							color: #fff;
							top: 50%;
							font-size: 30px;
							z-index: 1;
							border: none;
							cursor: pointer;
			    		}
			    		.left{
			    			position:absolute;
			    			left: -12px;
			    			background: rgba(24, 24, 71, 0.8);
							padding: 2px 10px;
							color: #fff;
							top: 50%;
							font-size: 30px;
							z-index: 1;
							border: none;
							cursor: pointer;
			    		}
			    		.large{
			    			text-align: center;
			    			img{
			    				object-fit: cover;
							    width: 100%;
							    height: 400px;
			    			}
			    		}
			    	}
			    	.slider-nav{			    		
			    		.thumb{
			    			padding:10px;
			    			img{
			    				max-height: 150px;
			    				@media(min-width:1280px){
			    					object-fit: cover;
							    	width: 100%;
							    	height: 120px;
			    				}
			    				@media(max-width:1024px){
			    					min-height: 48px;
			    				}
			    			}
			    		}
			    	}
			    	.content-txt{
			    		.subtitle{
			    			font-size: 24px;
			    			color: #181847;
			    			font-weight: 300;
			    			margin-bottom: 20px;
			    		}
			    	}
			    }
			}
			
		}
		.page-bg-wrapper{
			position:relative;
			background:url(../img/img-home.jpg) no-repeat center center;
			background-size:cover;
			height: 460px;
			.overlay{
				background: rgba(24, 24, 71, 0.7);
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			}
			.content-home{
			    position: absolute;
			    top: 60%;
			    left: 0;
			    right: 0;
			    margin: auto;
			    @media(max-width:1024px){
			    	top: 45%;
			    }
				.tagline{
					color: #fff;
					width: 60%;
					@media(max-width:1024px){
						width: 100%;
					}
					h3{
						font-size: 24px;
						font-family: 'Open Sans', sans-serif;
						text-transform: uppercase;
					}
					h2{
						font-size: 60px;
					    line-height: 60px;
					    @media(max-width:768px){
					    	font-size: 43px;
					    }
					}
				}
			}
		}
		.contact-info-wrapper{
			background:#fff;
			padding-top:80px;
			padding-bottom:100px;
			text-align: center;
			.title{
				font-size: 60px;
				color: #181847;
				font-weight: 300;
				text-transform: uppercase;
				padding-bottom:70px;
				@media(max-width:768px){
					font-size: 42px;
				}
			}
			.desc{
				color: #373737;
				font-size: 23px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
			}
			.contact-info-column{
				margin-top: 60px;
				.contact-info-column-block{
					.block{
						@media(max-width:768px){
							margin-bottom: 30px;
						}
						.img{
							margin-bottom: 30px;
							border: 3px solid #0bd440;
							border-radius:50%;
							width: 100px;
							height: 100px;
							display: inline-block;
							i{
							    font-size: 40px;
    							line-height: 95px;
    							color: #373737;
							}
							&:hover{
								background: #0e0b53;
								i{
									color: #fff;
								}
							}
						}
						.subtitle{
							font-size: 12px;
							text-transform: uppercase;
							color: #181847;
							margin-bottom: 10px;
						}
						.info{
							color: #373737;
							font-size: 14px;
							font-weight: 300;
						    line-height: 24px;
							font-family: 'Open Sans', sans-serif;
						}
					}
				}
			}
		}
		.maps-wrapper {
			.overlay {
			   background:transparent; 
			   position:relative; 
			   width:100%;
			   height: 620px;
			    top: 620px;
			    margin-top: -620px;
			}
            iframe{
            	width: 100%;
            	height: 620px;
            	pointer-events: none;
            }
        }
        .contact-service-wrapper{
			background: #fff url(../img/peta.png) no-repeat center center;
			min-height: 869px;
			text-align: center;
			padding-top:150px;
			padding-bottom:100px;
			.title{
				font-size: 60px;
				text-transform: uppercase;
				font-weight: 300;
				margin-bottom: 50px;
			}
			.desc{
				color: #373737;
				font-size: 24px;
				font-family: 'Open Sans', sans-serif;
				font-weight:300;
				padding: 0 10%;
				margin-bottom: 50px;
			}
			.contact-form-wrapp{
				form{
					display: inline-block;
					width: 560px;
					@media(max-width:1024px){
						width: 100%;
					    padding-bottom: 40px;
					}
					.form-group{
						margin-bottom: 30px;
						.col-sm-6:nth-child(1){
							@media(max-width:736px){
								margin-bottom: 30px;
							}
						}
						input{
							background:#edeef5;
							font-size: 14px;
							color: #999;
						}
						textarea{
							background:#edeef5;
							font-size: 14px;
						    padding: 6px 12px;
							color: #999;	
						    border: 1px solid #ccc;
	    					border-radius: 4px; 
	    					@media(max-width:1024px){
								width: 100%;
							}
						}
						.send{
							float: right;
							border-radius:4px;
							color: #fff;
							background: #0bd440;
							text-decoration: none;
							padding: 10px 60px;
							border: 1px solid #2eb24c;
							text-transform: uppercase
						}
					}					
				}
			}
		}
		.overview-wrapper{
			background:#0e0b53;
			padding-top:130px;
		    padding-bottom: 100px;
			color: #fff;
			.title{
				font-size: 60px;
				font-weight: 300;
				text-transform: uppercase;
				text-align: center;
				padding-bottom:50px;
				@media(max-width:1024px){
					font-size: 42px;
				}
			}
			.desc{
				text-align: center;
				font-size: 24px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				padding-bottom:113px;
			}
			.overview-column{
				.overview-left{
					.overview-block{
						.img2{
							text-align: center;
							@media(max-width:768px){
								margin:40px;
							}
							img{
								display: inline-block;
							}
							@media(min-width:1024px){
								position: absolute;
							    right: 0;
							    bottom: -10%;
							    img{
						    	    width: 85%;
							    }	
							}
						}
					}
				}
				.overview-right{
					.overview-block{
						position:relative;
						font-weight: 300;
						.title{
							font-size: 36px;
							text-align: right;
						}
						.desc{
							text-align: right;
							font-size: 18px;
						}
					}
				}	
			}
		}
		.history-wrapper{
			background:#fff;
			padding-top:140px;
			padding-bottom:100px;
			color: #373737;
			.history-left{
				.history-block{
					.title{
						font-weight: 300;
						font-size: 36px;	
					}
					.desc{
						font-weight: 300;
						font-size: 18px;
					}
				}
			}
			.history-right{
				.history-block{
					.img{
						margin-top: -230px;
						text-align: right;
						@media(max-width:768px){
							margin-top: 0;
						}
						img{
							display: inline-block;
							width: 100%;
						}
					}
					.cs-block{
						background:#0cd440;
						color: #fff;
					    padding: 20px 50px;
						.cs{
							img{
								margin-right: 20px;
							}
							.time{
								font-size: 18px;
								font-weight: 300;
							    line-height: 18px;
							}
							.phone{
								font-weight: 700;
								font-size: 30px;
							}
						}
					}
				}
			}
		}
		.renovation-wrapper{
			padding-top:80px;
		    padding-bottom: 100px;
			text-align: center;
			.title{
				text-transform: uppercase;
				font-size: 60px;
				font-weight: 300;
				@media(max-width:768px){
					font-size: 42px;
				}
			}
			.desc{
				font-size: 24px;
				font-family: 'Open Sans', sans-serif;
				font-weight:300;
				color: #373737;
			}
		}
		.service-static-wrapper{
			.second-column{
				margin-top: 60px;
				.subtitle{
					color: #181847;
					font-size: 36px;
					font-weight: 800;
				}
				.subtitle2{
					color: #373737;
					font-size: 18px;
					font-weight: 300;
					margin-top: 20px;
				}
			}
			.service-static-block{
				@media(max-width:1024px){
					margin-bottom: 20px;
				}
				a{
					width: 100%;
					background:#fff;
					text-align: center;
					color: #181847;
					display: inline-block;
    				padding: 60px 50px;
    				text-decoration: none;
    				&:hover{
    					background:#181847;
    					color: #fff;
    				}
					.img{
						height: 185px;
						img{
							display: inline-block;
						}
					}
					.title{
						font-size: 24px;
						margin-bottom: 20px;
					}
					.desc{
						font-weight: 300;
						font-size: 16px;
						font-family: 'Open Sans', sans-serif;
					}
				}
			}
			.seeall{
				text-align: center;
				text-transform: uppercase;
				font-size: 18px;
				margin:50px 0;
				a{
					display: inline-block;
				    background: #0bd440;
				    border: 1px solid #0bd440;
				    color: #fff;
				    padding: 10px 50px;
				    border-radius: 5px;
				    text-decoration: none;
				}
			}
		}
		.bottom-bg-wrapper{
			background:url(../img/bg-bottom.jpg) no-repeat center center;
			background-size: cover;
    		min-height: 710px;
    		.content{
    			position:relative;
			    overflow-y: hidden;
    			min-height: 710px;
    			.tagline{
    				color: #fff;
    				float: left;
				    position: absolute;
				    top: 30%;
    				h3{
    					font-size: 72px;
    					font-weight: 800;
    					@media(max-width:1024px){
    						font-size: 60px;
    					}
    				}
    				.desc{
    					font-size: 30px;
    					font-family: 'Open Sans', sans-serif;
    				}
    			}
    			.img{
    				position: absolute;
				    right: 0;
				    top: 8%;
    			}
    			.readmore{
					margin-top: 100px;
					text-transform: uppercase;
					font-size: 18px;
					a{
						display: inline-block;
						color: #fff;
						border-radius:5px;
						background: #2eb24c;
						text-decoration: none;
						padding: 10px 40px;
						border: 1px solid #2eb24c;
						&:hover{
							background: transparent;
						}
					}
				}
    		}
		}
		.testimoni-home-wrapper{
			position:relative;
		    background: url(../img/bg-testi.jpg) no-repeat center;
		    background-size:cover;
    		min-height: 707px;
    		color: #fff;
			.overlay{
				background: rgba(24, 24, 71, 0.7);
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			}
			.testimoni-home-block{
				padding-top:130px;
				position:relative;
				text-align: center;
				.title{
					font-size: 60px;
					padding-bottom:60px;
					font-weight: 300;
					text-transform: uppercase;
				}
				.quote{
					text-align: center;
					padding-bottom:30px;
					img{
						display: inline-block;
					}
				}
				.testimoni-slide-column{
					outline: none;
					.left{
						position:absolute;
						left: 0;
						top: 5%;
						font-size: 30px;
					    border: 2px solid;
					    border-radius: 50%;
					    width: 50px;
					    height: 50px;
					    line-height: 45px;
					    outline: none;
					    &:hover{
					    	color: #2eb24c;
					    }
					    @media(max-width:1024px){
				    		display: none !important;
					    }
					}
					.right{
						position: absolute;
					    right: 0;
					    top: 5%;
					    cursor: pointer;
					    font-size: 30px;
					    border: 2px solid;
					    border-radius: 50%;
					    width: 50px;
					    height: 50px;
					    line-height: 45px;
					    outline: none;
					    &:hover{
					    	color: #2eb24c;
					    }
					    @media(max-width:1024px){
				    		display: none !important;
					    }
					}
					.slick-dots{
						li{
							display: inline-block;
							button{
								background:#fff;
								width: 20px;
								height: 20px;
								text-indent: 9999px;
								border-radius:50%;
								margin-right: 10px;
								border:none;
							}
						}
						.slick-active{
							button{
    							background: #0bd440;
							}
						}
					}
					.testimoni-slide{
						outline: none;
						.desc{
							font-size: 24px;
							font-family: 'Open Sans', sans-serif;
							font-weight:300;
						    padding: 0 100px;
						    @media(max-width:1024px){
						    	padding:0;
						    }
						}
						.user{
							display: inline-block;
							margin-top: 60px;
							.avatar{
								float: left; 
								img{
									width: 70px;
									height: 70px;
									border-radius: 50%;
								}
							}
							.user-detail{
								float: left;
								margin-left: 20px;
								line-height: 30px;
								text-align: left;
								font-size: 16px;
								.name{
									text-transform: uppercase;
									color: #fff;
								}
								.position{
									color: #999;
								}
							}
						}
					}
				}
			}
		}
	}
	#footer{
		.footer-widget{
			background: #fafafa;
			padding:120px 0;
			.footer-column-block {
				.footer-widget-block{
					color: #373737;
					.img{
						margin-bottom: 40px;
					}
					.title{
						margin-bottom: 50px;
						font-size: 18px;
						font-weight: 300;
						text-transform: uppercase;	
						@media(max-width:1024px){
							margin:50px 0 0;
						}
					}
					.desc{
						font-size: 16px;
						font-weight: 300;
					    line-height: 26px;
					    a{
							color: #373737;
							text-decoration: none;	
							&:hover{
								color: #2eb24c;
							}		
						}
					}
					.list-menu{
						ul{
							padding:0;
							margin:0;
							li{
								list-style: none;
								font-family: 'Open Sans', sans-serif;
								font-weight:300;
								font-size: 18px;
								margin-bottom: 10px;
								a{
									color: #373737;
									text-decoration: none;	
									&:hover{
										color: #2eb24c;
									}		
								}
							}
						}
					}
				}
			}
		}
		.footer-bottom{
			background:#fff;
			text-align: center;
			padding:30px 0;
			.txt{
				margin-bottom: 20px;	
			}
			.sosmed{
				display: inline-block;
				ul{
					padding:0;
					margin:0;
					li{
						float: left;
						list-style: none;
						margin: 0 20px;
						font-size: 24px;
						a{
							color:#181847;
							&:hover{
								color: #2eb24c;
							}
						}
					}
				}
			}
		}
	}
}