/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
/* line 9, ../sass/print.scss */
body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  color: #181847;
}

/* line 14, ../sass/print.scss */
a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* line 25, ../sass/print.scss */
.clear {
  clear: both;
}

/* line 28, ../sass/print.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999;
}

/* line 31, ../sass/print.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}

/* line 34, ../sass/print.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #999;
}

/* line 37, ../sass/print.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}

/* line 40, ../sass/print.scss */
.bg-white {
  background: #fff;
  padding: 50px 0;
}

/* line 44, ../sass/print.scss */
.back {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
/* line 49, ../sass/print.scss */
.back a {
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background: #2eb24c;
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #2eb24c;
}
/* line 57, ../sass/print.scss */
.back a:hover {
  background: transparent;
  color: #181847;
}

/* line 65, ../sass/print.scss */
#map {
  width: 100%;
  height: 620px;
}

/* line 70, ../sass/print.scss */
#wrapper {
  overflow: hidden;
}
/* line 72, ../sass/print.scss */
#wrapper #home {
  position: relative;
}
/* line 74, ../sass/print.scss */
#wrapper #home .header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  background: #fff;
}
@media (max-width: 1024px) {
  /* line 80, ../sass/print.scss */
  #wrapper #home .header .header-left {
    width: 100%;
  }
}
/* line 84, ../sass/print.scss */
#wrapper #home .header .header-left .logo {
  margin-left: -50px;
}
@media (max-width: 1024px) {
  /* line 84, ../sass/print.scss */
  #wrapper #home .header .header-left .logo {
    margin: 0;
    float: left;
  }
}
@media (max-width: 1024px) {
  /* line 91, ../sass/print.scss */
  #wrapper #home .header .header-left .navbar-header {
    display: block !important;
    float: right;
  }
}
/* line 96, ../sass/print.scss */
#wrapper #home .header .header-left .navbar-header .navbar-toggle {
  border: 1px solid #ccc;
}
@media (max-width: 1024px) {
  /* line 96, ../sass/print.scss */
  #wrapper #home .header .header-left .navbar-header .navbar-toggle {
    display: block !important;
  }
}
/* line 101, ../sass/print.scss */
#wrapper #home .header .header-left .navbar-header .navbar-toggle .icon-bar {
  background: #ccc;
}
@media (max-width: 1024px) {
  /* line 107, ../sass/print.scss */
  #wrapper #home .header .header-right {
    width: 100%;
  }
}
/* line 112, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 {
  float: right;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 112, ../sass/print.scss */
  #wrapper #home .header .header-right .header-right-wrapper .header-right-1 {
    display: none;
  }
}
/* line 118, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul {
  padding: 0;
  margin: 20px 0;
  display: inline-block;
}
/* line 122, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul li {
  list-style: none;
  font-size: 16px;
  float: left;
  margin-right: 30px;
}
/* line 127, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul li a {
  text-decoration: none;
  color: #2eb24c;
}
/* line 131, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul li:first-child {
  background: url(../img/icon-phone.png) no-repeat left center;
  padding-left: 30px;
}
/* line 135, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul li:last-child {
  margin-right: 0;
  background: url(../img/icon-email.png) no-repeat left center;
  padding-left: 30px;
}
/* line 143, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 {
  float: right;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 143, ../sass/print.scss */
  #wrapper #home .header .header-right .header-right-wrapper .header-right-2 {
    float: none;
  }
}
/* line 149, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop {
  display: inline-block;
}
@media (max-width: 1024px) {
  /* line 149, ../sass/print.scss */
  #wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop {
    display: none;
  }
}
/* line 154, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul {
  padding: 0;
  margin: 10px 0;
}
/* line 157, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li {
  list-style: none;
  float: left;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}
/* line 165, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li:hover .submenu {
  display: block;
}
/* line 169, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li a {
  text-decoration: none;
  color: #fff;
  padding: 20px 0;
}
/* line 173, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li a:hover {
  color: #2eb24c;
}
/* line 177, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li:last-child {
  margin-right: 0;
}
/* line 180, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .active {
  color: #2eb24c;
}
/* line 183, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu {
  display: none;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 0% 0 8% 8%;
  padding: 10px 20px;
}
/* line 190, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li {
  text-transform: none;
  display: block;
  float: none;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
}
/* line 199, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li a {
  color: #000;
  padding: 0;
  display: block;
}
/* line 203, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li a:hover {
  color: #2eb24c;
}
/* line 212, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile {
  background: #fff;
  text-align: left;
}
@media (max-width: 1024px) {
  /* line 212, ../sass/print.scss */
  #wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile {
    display: block !important;
  }
}
/* line 220, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav li {
  float: none;
}
/* line 222, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav li a {
  color: #333;
}
/* line 227, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul {
  padding: 10px 16px !important;
}
/* line 229, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li {
  list-style: none;
  padding-left: 30px;
}
/* line 232, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li:first-child {
  background: url(../img/icon-phone-black.png) no-repeat left center;
  margin-bottom: 10px;
}
/* line 236, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li:last-child {
  margin-right: 0;
  background: url(../img/icon-email-black.png) no-repeat left center;
}
/* line 245, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile .collapse {
  display: none !important;
}
/* line 248, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile .in {
  display: block !important;
  overflow-y: auto !important;
}
/* line 257, ../sass/print.scss */
#wrapper #home .transparent {
  background: transparent;
}
/* line 260, ../sass/print.scss */
#wrapper #home .home-bg-wrapper {
  position: relative;
  background: url(../img/img-home.jpg) no-repeat center center;
  background-size: cover;
  min-height: 1131px;
}
@media (max-width: 1024px) {
  /* line 260, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper {
    min-height: 700px;
  }
}
@media (max-width: 667px) {
  /* line 260, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper {
    min-height: 800px;
  }
}
/* line 274, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .overlay {
  background: rgba(24, 24, 71, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 281, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 1024px) {
  /* line 281, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper .content-home {
    top: 10%;
  }
}
/* line 290, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline {
  color: #fff;
  width: 60%;
}
@media (max-width: 1024px) {
  /* line 290, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper .content-home .tagline {
    width: 100%;
    margin-top: 90px;
  }
}
/* line 297, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline h3 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
/* line 302, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline h2 {
  font-size: 60px;
  line-height: 60px;
}
/* line 306, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline .desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  width: 80%;
  margin-top: 90px;
}
@media (max-width: 1024px) {
  /* line 306, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper .content-home .tagline .desc {
    width: 100%;
    font-size: 20px;
    margin-top: 0;
  }
}
/* line 319, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline .readmore {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 323, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline .readmore a {
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background: #2eb24c;
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #2eb24c;
}
/* line 331, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline .readmore a:hover {
  background: transparent;
}
/* line 339, ../sass/print.scss */
#wrapper #home .service-static-wrapper {
  margin-top: -200px;
  padding-bottom: 60px;
}
@media (max-width: 1024px) {
  /* line 339, ../sass/print.scss */
  #wrapper #home .service-static-wrapper {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  /* line 346, ../sass/print.scss */
  #wrapper #home .service-static-wrapper .service-static-block {
    margin-bottom: 20px;
  }
}
/* line 350, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a {
  background: #fff;
  text-align: center;
  color: #181847;
  display: inline-block;
  padding: 60px 50px;
  text-decoration: none;
}
/* line 357, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a:hover {
  background: #181847;
  color: #fff;
}
/* line 361, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a .img {
  height: 185px;
}
/* line 363, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a .img img {
  display: inline-block;
}
/* line 367, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a .title {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 371, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a .desc {
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
/* line 379, ../sass/print.scss */
#wrapper #home .call-service-wrapper {
  padding-top: 120px;
  text-align: center;
}
/* line 382, ../sass/print.scss */
#wrapper #home .call-service-wrapper .title {
  font-size: 60px;
  font-weight: 300;
  display: inline-block;
  width: 65%;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  /* line 382, ../sass/print.scss */
  #wrapper #home .call-service-wrapper .title {
    width: 100%;
    font-size: 42px;
  }
}
/* line 393, ../sass/print.scss */
#wrapper #home .call-service-wrapper .desc {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 35px;
}
/* line 400, ../sass/print.scss */
#wrapper #home .call-service-wrapper .img img {
  display: inline-block;
}
/* line 405, ../sass/print.scss */
#wrapper #home .about-block-wrapper {
  background: url(../img/bg-about.jpg) no-repeat;
  background-size: cover;
  min-height: 985px;
  padding: 180px 0;
}
/* line 411, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column {
  position: relative;
}
@media (max-width: 768px) {
  /* line 413, ../sass/print.scss */
  #wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img {
    text-align: center;
  }
}
/* line 417, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-left {
  float: left;
  margin-right: 10px;
}
@media (max-width: 768px) {
  /* line 417, ../sass/print.scss */
  #wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-left {
    float: none;
    margin: 0;
    display: inline-block;
  }
}
/* line 425, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-left .img {
  margin-bottom: 10px;
}
/* line 427, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-left .img img {
  object-fit: cover;
  width: 270px;
  height: 180px;
}
/* line 434, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-right {
  float: left;
  padding-top: 100px;
}
@media (max-width: 768px) {
  /* line 434, ../sass/print.scss */
  #wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-right {
    float: none;
    display: inline-block;
    padding-top: 0;
  }
}
/* line 442, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-right .img {
  margin-bottom: 10px;
}
/* line 444, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-right .img img {
  object-fit: cover;
  width: 270px;
  height: 180px;
}
/* line 452, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .title-hori {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  float: left;
  vertical-align: top;
  text-transform: uppercase;
  position: absolute;
  bottom: -35px;
  border-bottom: 1px solid;
  height: 32px;
  width: 150px;
  text-align: right;
  left: -60px;
}
/* line 475, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column {
  text-align: right;
  color: #fff;
  padding-top: 100px;
}
/* line 479, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .title {
  font-weight: 300;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 485, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}
/* line 490, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .readmore {
  margin-top: 70px;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 494, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .readmore a {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background: #2eb24c;
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #2eb24c;
}
/* line 502, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .readmore a:hover {
  background: transparent;
}
/* line 510, ../sass/print.scss */
#wrapper #home .contact-service-wrapper {
  background: #fff url(../img/peta.png) no-repeat center center;
  min-height: 869px;
  text-align: center;
  padding: 150px 0;
}
/* line 515, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
}
/* line 521, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .desc {
  color: #373737;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 10%;
  margin-bottom: 50px;
}
/* line 530, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form {
  display: inline-block;
  width: 560px;
}
@media (max-width: 1024px) {
  /* line 530, ../sass/print.scss */
  #wrapper #home .contact-service-wrapper .contact-form-wrapp form {
    width: 100%;
    padding-bottom: 40px;
  }
}
/* line 537, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group {
  margin-bottom: 30px;
}
@media (max-width: 736px) {
  /* line 539, ../sass/print.scss */
  #wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group .col-sm-6:nth-child(1) {
    margin-bottom: 30px;
  }
}
/* line 544, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group input {
  background: #edeef5;
  font-size: 14px;
  color: #999;
}
/* line 549, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group textarea {
  background: #edeef5;
  font-size: 14px;
  padding: 6px 12px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 1024px) {
  /* line 549, ../sass/print.scss */
  #wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group textarea {
    width: 100%;
  }
}
/* line 560, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group .send {
  float: right;
  border-radius: 4px;
  color: #fff;
  background: #0bd440;
  text-decoration: none;
  padding: 10px 60px;
  border: 1px solid #2eb24c;
  text-transform: uppercase;
}
/* line 574, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper {
  position: relative;
  background: url(../img/bg-testi.jpg) no-repeat center;
  background-size: cover;
  min-height: 707px;
  color: #fff;
}
/* line 580, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .overlay {
  background: rgba(24, 24, 71, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 587, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block {
  padding: 130px 0;
  position: relative;
  text-align: center;
}
/* line 591, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .title {
  font-size: 60px;
  padding-bottom: 60px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 597, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .quote {
  text-align: center;
  padding-bottom: 30px;
}
/* line 600, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .quote img {
  display: inline-block;
}
/* line 604, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column {
  outline: none;
}
/* line 606, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left {
  position: absolute;
  left: 0;
  top: 5%;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  outline: none;
}
/* line 617, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left:hover {
  color: #2eb24c;
}
@media (max-width: 1024px) {
  /* line 606, ../sass/print.scss */
  #wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left {
    display: none !important;
  }
}
/* line 624, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right {
  position: absolute;
  right: 0;
  top: 5%;
  cursor: pointer;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  outline: none;
}
/* line 636, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right:hover {
  color: #2eb24c;
}
@media (max-width: 1024px) {
  /* line 624, ../sass/print.scss */
  #wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right {
    display: none !important;
  }
}
/* line 644, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots li {
  display: inline-block;
}
/* line 646, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots li button {
  background: #fff;
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}
/* line 657, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots .slick-active button {
  background: #0bd440;
}
/* line 662, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide {
  outline: none;
}
/* line 664, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .desc {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 100px;
}
@media (max-width: 1024px) {
  /* line 664, ../sass/print.scss */
  #wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .desc {
    padding: 0;
  }
}
/* line 673, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user {
  display: inline-block;
  margin-top: 60px;
}
/* line 676, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .avatar {
  float: left;
}
/* line 678, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
/* line 684, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail {
  float: left;
  margin-left: 20px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
}
/* line 690, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail .name {
  text-transform: uppercase;
  color: #fff;
}
/* line 694, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail .position {
  color: #999;
}
/* line 704, ../sass/print.scss */
#wrapper #page {
  position: relative;
}
/* line 706, ../sass/print.scss */
#wrapper #page .header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  background: #fff;
  min-height: 130px;
}
@media (max-width: 1024px) {
  /* line 713, ../sass/print.scss */
  #wrapper #page .header .header-left {
    width: 100%;
  }
}
/* line 717, ../sass/print.scss */
#wrapper #page .header .header-left .logo {
  margin-left: -50px;
}
@media (max-width: 1024px) {
  /* line 717, ../sass/print.scss */
  #wrapper #page .header .header-left .logo {
    margin: 0;
    float: left;
  }
}
@media (max-width: 1024px) {
  /* line 724, ../sass/print.scss */
  #wrapper #page .header .header-left .navbar-header {
    display: block !important;
    float: right;
  }
}
/* line 729, ../sass/print.scss */
#wrapper #page .header .header-left .navbar-header .navbar-toggle {
  border: 1px solid #ccc;
}
@media (max-width: 1024px) {
  /* line 729, ../sass/print.scss */
  #wrapper #page .header .header-left .navbar-header .navbar-toggle {
    display: block !important;
  }
}
/* line 734, ../sass/print.scss */
#wrapper #page .header .header-left .navbar-header .navbar-toggle .icon-bar {
  background: #ccc;
}
@media (max-width: 1024px) {
  /* line 740, ../sass/print.scss */
  #wrapper #page .header .header-right {
    width: 100%;
  }
}
/* line 745, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 {
  float: right;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 745, ../sass/print.scss */
  #wrapper #page .header .header-right .header-right-wrapper .header-right-1 {
    display: none;
  }
}
/* line 751, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul {
  padding: 0;
  margin: 20px 0;
  display: inline-block;
}
/* line 755, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul li {
  list-style: none;
  font-size: 16px;
  float: left;
  margin-right: 30px;
}
/* line 760, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul li a {
  text-decoration: none;
  color: #2eb24c;
}
/* line 764, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul li:first-child {
  background: url(../img/icon-phone-black.png) no-repeat left center;
  padding-left: 30px;
}
/* line 768, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul li:last-child {
  margin-right: 0;
  background: url(../img/icon-email-black.png) no-repeat left center;
  padding-left: 30px;
}
/* line 776, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 {
  float: right;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 776, ../sass/print.scss */
  #wrapper #page .header .header-right .header-right-wrapper .header-right-2 {
    float: none;
  }
}
/* line 782, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop {
  display: inline-block;
}
@media (max-width: 1024px) {
  /* line 782, ../sass/print.scss */
  #wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop {
    display: none;
  }
}
/* line 787, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul {
  padding: 0;
  margin: 10px 0;
}
/* line 790, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li {
  list-style: none;
  float: left;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}
/* line 798, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li:hover .submenu {
  display: block;
}
/* line 802, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li a {
  text-decoration: none;
  color: #181847;
  padding: 20px 0;
}
/* line 806, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li a:hover {
  color: #2eb24c;
}
/* line 810, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li:last-child {
  margin-right: 0;
}
/* line 813, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .active {
  color: #2eb24c;
}
/* line 816, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu {
  display: none;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 0% 0 8% 8%;
  padding: 10px 20px;
}
/* line 823, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li {
  text-transform: none;
  display: block;
  float: none;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}
/* line 832, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li a {
  color: #000;
  padding: 0;
  display: block;
}
/* line 836, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li a:hover {
  color: #2eb24c;
}
/* line 845, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile {
  background: #fff;
  text-align: left;
}
@media (max-width: 1024px) {
  /* line 845, ../sass/print.scss */
  #wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile {
    display: block !important;
  }
}
/* line 853, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav li {
  float: none;
}
/* line 855, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav li a {
  color: #333;
}
/* line 860, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul {
  padding: 10px 16px !important;
}
/* line 862, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li {
  list-style: none;
  padding-left: 30px;
}
/* line 865, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li:first-child {
  background: url(../img/icon-phone-black.png) no-repeat left center;
  margin-bottom: 10px;
}
/* line 869, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li:last-child {
  margin-right: 0;
  background: url(../img/icon-email-black.png) no-repeat left center;
}
/* line 878, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile .collapse {
  display: none !important;
}
/* line 881, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile .in {
  display: block !important;
  overflow-y: auto !important;
}
/* line 890, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper {
  padding-top: 80px;
}
/* line 894, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .title {
  color: #181847;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 20px;
}
/* line 903, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .menus ul {
  padding: 0;
  margin: 0;
}
/* line 906, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .menus ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid #dcdcdc;
  padding: 20px;
}
/* line 913, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .menus ul li a {
  color: #373737;
  text-decoration: none;
  display: block;
}
/* line 917, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .menus ul li a:hover {
  color: #0bd440;
}
/* line 925, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li {
  text-transform: uppercase;
}
/* line 927, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li a {
  padding-left: 60px;
}
/* line 929, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li a:hover {
  color: #0bd440;
}
/* line 934, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu .active {
  border: 2px solid #0bd440;
}
/* line 936, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu .active a {
  color: #0bd440;
}
/* line 943, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .dua li .ico {
  float: left;
  color: #0bd440;
  font-size: 25px;
  width: 40px;
  text-align: center;
  margin-right: 20px;
}
/* line 955, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right {
  border-left: 1px solid #dcdcdc;
  margin-bottom: 100px;
}
/* line 958, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content {
  padding-left: 20px;
}
/* line 960, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-for {
  position: relative;
}
/* line 962, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-for .right {
  position: absolute;
  right: -12px;
  background: rgba(24, 24, 71, 0.8);
  padding: 2px 10px;
  color: #fff;
  top: 50%;
  font-size: 30px;
  z-index: 1;
  border: none;
  cursor: pointer;
}
/* line 974, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-for .left {
  position: absolute;
  left: -12px;
  background: rgba(24, 24, 71, 0.8);
  padding: 2px 10px;
  color: #fff;
  top: 50%;
  font-size: 30px;
  z-index: 1;
  border: none;
  cursor: pointer;
}
/* line 986, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-for .large {
  text-align: center;
}
/* line 988, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-for .large img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}
/* line 996, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-nav .thumb {
  padding: 10px;
}
/* line 998, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-nav .thumb img {
  max-height: 150px;
}
@media (min-width: 1280px) {
  /* line 998, ../sass/print.scss */
  #wrapper #page .inner-detail-wrapper .column-right .content .slider-nav .thumb img {
    object-fit: cover;
    width: 100%;
    height: 120px;
  }
}
@media (max-width: 1024px) {
  /* line 998, ../sass/print.scss */
  #wrapper #page .inner-detail-wrapper .column-right .content .slider-nav .thumb img {
    min-height: 48px;
  }
}
/* line 1012, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .content-txt .subtitle {
  font-size: 24px;
  color: #181847;
  font-weight: 300;
  margin-bottom: 20px;
}
/* line 1023, ../sass/print.scss */
#wrapper #page .page-bg-wrapper {
  position: relative;
  background: url(../img/img-home.jpg) no-repeat center center;
  background-size: cover;
  height: 460px;
}
/* line 1028, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .overlay {
  background: rgba(24, 24, 71, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 1035, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .content-home {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 1024px) {
  /* line 1035, ../sass/print.scss */
  #wrapper #page .page-bg-wrapper .content-home {
    top: 45%;
  }
}
/* line 1044, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .content-home .tagline {
  color: #fff;
  width: 60%;
}
@media (max-width: 1024px) {
  /* line 1044, ../sass/print.scss */
  #wrapper #page .page-bg-wrapper .content-home .tagline {
    width: 100%;
  }
}
/* line 1050, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .content-home .tagline h3 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
/* line 1055, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .content-home .tagline h2 {
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 768px) {
  /* line 1055, ../sass/print.scss */
  #wrapper #page .page-bg-wrapper .content-home .tagline h2 {
    font-size: 43px;
  }
}
/* line 1065, ../sass/print.scss */
#wrapper #page .contact-info-wrapper {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
/* line 1070, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .title {
  font-size: 60px;
  color: #181847;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 70px;
}
@media (max-width: 768px) {
  /* line 1070, ../sass/print.scss */
  #wrapper #page .contact-info-wrapper .title {
    font-size: 42px;
  }
}
/* line 1080, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .desc {
  color: #373737;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 1086, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column {
  margin-top: 60px;
}
@media (max-width: 768px) {
  /* line 1089, ../sass/print.scss */
  #wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block {
    margin-bottom: 30px;
  }
}
/* line 1093, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .img {
  margin-bottom: 30px;
  border: 3px solid #0bd440;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
}
/* line 1100, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .img i {
  font-size: 40px;
  line-height: 95px;
  color: #373737;
}
/* line 1105, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .img:hover {
  background: #0e0b53;
}
/* line 1107, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .img:hover i {
  color: #fff;
}
/* line 1112, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #181847;
  margin-bottom: 10px;
}
/* line 1118, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .info {
  color: #373737;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}
/* line 1130, ../sass/print.scss */
#wrapper #page .maps-wrapper .overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 620px;
  top: 620px;
  margin-top: -620px;
}
/* line 1138, ../sass/print.scss */
#wrapper #page .maps-wrapper iframe {
  width: 100%;
  height: 620px;
  pointer-events: none;
}
/* line 1144, ../sass/print.scss */
#wrapper #page .contact-service-wrapper {
  background: #fff url(../img/peta.png) no-repeat center center;
  min-height: 869px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
}
/* line 1150, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
}
/* line 1156, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .desc {
  color: #373737;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 10%;
  margin-bottom: 50px;
}
/* line 1165, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form {
  display: inline-block;
  width: 560px;
}
@media (max-width: 1024px) {
  /* line 1165, ../sass/print.scss */
  #wrapper #page .contact-service-wrapper .contact-form-wrapp form {
    width: 100%;
    padding-bottom: 40px;
  }
}
/* line 1172, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group {
  margin-bottom: 30px;
}
@media (max-width: 736px) {
  /* line 1174, ../sass/print.scss */
  #wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group .col-sm-6:nth-child(1) {
    margin-bottom: 30px;
  }
}
/* line 1179, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group input {
  background: #edeef5;
  font-size: 14px;
  color: #999;
}
/* line 1184, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group textarea {
  background: #edeef5;
  font-size: 14px;
  padding: 6px 12px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 1024px) {
  /* line 1184, ../sass/print.scss */
  #wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group textarea {
    width: 100%;
  }
}
/* line 1195, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group .send {
  float: right;
  border-radius: 4px;
  color: #fff;
  background: #0bd440;
  text-decoration: none;
  padding: 10px 60px;
  border: 1px solid #2eb24c;
  text-transform: uppercase;
}
/* line 1209, ../sass/print.scss */
#wrapper #page .overview-wrapper {
  background: #0e0b53;
  padding-top: 130px;
  padding-bottom: 100px;
  color: #fff;
}
/* line 1214, ../sass/print.scss */
#wrapper #page .overview-wrapper .title {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  /* line 1214, ../sass/print.scss */
  #wrapper #page .overview-wrapper .title {
    font-size: 42px;
  }
}
/* line 1224, ../sass/print.scss */
#wrapper #page .overview-wrapper .desc {
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 113px;
}
/* line 1234, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 {
  text-align: center;
}
@media (max-width: 768px) {
  /* line 1234, ../sass/print.scss */
  #wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 {
    margin: 40px;
  }
}
/* line 1239, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 img {
  display: inline-block;
}
@media (min-width: 1024px) {
  /* line 1234, ../sass/print.scss */
  #wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 {
    position: absolute;
    right: 0;
    bottom: -10%;
  }
  /* line 1246, ../sass/print.scss */
  #wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 img {
    width: 85%;
  }
}
/* line 1254, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-right .overview-block {
  position: relative;
  font-weight: 300;
}
/* line 1257, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-right .overview-block .title {
  font-size: 36px;
  text-align: right;
}
/* line 1261, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-right .overview-block .desc {
  text-align: right;
  font-size: 18px;
}
/* line 1269, ../sass/print.scss */
#wrapper #page .history-wrapper {
  background: #fff;
  padding-top: 140px;
  padding-bottom: 100px;
  color: #373737;
}
/* line 1276, ../sass/print.scss */
#wrapper #page .history-wrapper .history-left .history-block .title {
  font-weight: 300;
  font-size: 36px;
}
/* line 1280, ../sass/print.scss */
#wrapper #page .history-wrapper .history-left .history-block .desc {
  font-weight: 300;
  font-size: 18px;
}
/* line 1288, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .img {
  margin-top: -230px;
  text-align: right;
}
@media (max-width: 768px) {
  /* line 1288, ../sass/print.scss */
  #wrapper #page .history-wrapper .history-right .history-block .img {
    margin-top: 0;
  }
}
/* line 1294, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .img img {
  display: inline-block;
  width: 100%;
}
/* line 1299, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .cs-block {
  background: #0cd440;
  color: #fff;
  padding: 20px 50px;
}
/* line 1304, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .cs-block .cs img {
  margin-right: 20px;
}
/* line 1307, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .cs-block .cs .time {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}
/* line 1312, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .cs-block .cs .phone {
  font-weight: 700;
  font-size: 30px;
}
/* line 1321, ../sass/print.scss */
#wrapper #page .renovation-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
/* line 1325, ../sass/print.scss */
#wrapper #page .renovation-wrapper .title {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 300;
}
@media (max-width: 768px) {
  /* line 1325, ../sass/print.scss */
  #wrapper #page .renovation-wrapper .title {
    font-size: 42px;
  }
}
/* line 1333, ../sass/print.scss */
#wrapper #page .renovation-wrapper .desc {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #373737;
}
/* line 1341, ../sass/print.scss */
#wrapper #page .service-static-wrapper .second-column {
  margin-top: 60px;
}
/* line 1343, ../sass/print.scss */
#wrapper #page .service-static-wrapper .second-column .subtitle {
  color: #181847;
  font-size: 36px;
  font-weight: 800;
}
/* line 1348, ../sass/print.scss */
#wrapper #page .service-static-wrapper .second-column .subtitle2 {
  color: #373737;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  /* line 1355, ../sass/print.scss */
  #wrapper #page .service-static-wrapper .service-static-block {
    margin-bottom: 20px;
  }
}
/* line 1359, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a {
  width: 100%;
  background: #fff;
  text-align: center;
  color: #181847;
  display: inline-block;
  padding: 60px 50px;
  text-decoration: none;
}
/* line 1367, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a:hover {
  background: #181847;
  color: #fff;
}
/* line 1371, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a .img {
  height: 185px;
}
/* line 1373, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a .img img {
  display: inline-block;
}
/* line 1377, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a .title {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 1381, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a .desc {
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
/* line 1388, ../sass/print.scss */
#wrapper #page .service-static-wrapper .seeall {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin: 50px 0;
}
/* line 1393, ../sass/print.scss */
#wrapper #page .service-static-wrapper .seeall a {
  display: inline-block;
  background: #0bd440;
  border: 1px solid #0bd440;
  color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
  text-decoration: none;
}
/* line 1404, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper {
  background: url(../img/bg-bottom.jpg) no-repeat center center;
  background-size: cover;
  min-height: 710px;
}
/* line 1408, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content {
  position: relative;
  overflow-y: hidden;
  min-height: 710px;
}
/* line 1412, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .tagline {
  color: #fff;
  float: left;
  position: absolute;
  top: 30%;
}
/* line 1417, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .tagline h3 {
  font-size: 72px;
  font-weight: 800;
}
@media (max-width: 1024px) {
  /* line 1417, ../sass/print.scss */
  #wrapper #page .bottom-bg-wrapper .content .tagline h3 {
    font-size: 60px;
  }
}
/* line 1424, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .tagline .desc {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
/* line 1429, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .img {
  position: absolute;
  right: 0;
  top: 8%;
}
/* line 1434, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .readmore {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 1438, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .readmore a {
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background: #2eb24c;
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #2eb24c;
}
/* line 1446, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .readmore a:hover {
  background: transparent;
}
/* line 1453, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper {
  position: relative;
  background: url(../img/bg-testi.jpg) no-repeat center;
  background-size: cover;
  min-height: 707px;
  color: #fff;
}
/* line 1459, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .overlay {
  background: rgba(24, 24, 71, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 1466, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block {
  padding-top: 130px;
  position: relative;
  text-align: center;
}
/* line 1470, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .title {
  font-size: 60px;
  padding-bottom: 60px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 1476, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .quote {
  text-align: center;
  padding-bottom: 30px;
}
/* line 1479, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .quote img {
  display: inline-block;
}
/* line 1483, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column {
  outline: none;
}
/* line 1485, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left {
  position: absolute;
  left: 0;
  top: 5%;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  outline: none;
}
/* line 1496, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left:hover {
  color: #2eb24c;
}
@media (max-width: 1024px) {
  /* line 1485, ../sass/print.scss */
  #wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left {
    display: none !important;
  }
}
/* line 1503, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right {
  position: absolute;
  right: 0;
  top: 5%;
  cursor: pointer;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  outline: none;
}
/* line 1515, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right:hover {
  color: #2eb24c;
}
@media (max-width: 1024px) {
  /* line 1503, ../sass/print.scss */
  #wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right {
    display: none !important;
  }
}
/* line 1523, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots li {
  display: inline-block;
}
/* line 1525, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots li button {
  background: #fff;
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}
/* line 1536, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots .slick-active button {
  background: #0bd440;
}
/* line 1541, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide {
  outline: none;
}
/* line 1543, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .desc {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 100px;
}
@media (max-width: 1024px) {
  /* line 1543, ../sass/print.scss */
  #wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .desc {
    padding: 0;
  }
}
/* line 1552, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user {
  display: inline-block;
  margin-top: 60px;
}
/* line 1555, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .avatar {
  float: left;
}
/* line 1557, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
/* line 1563, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail {
  float: left;
  margin-left: 20px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
}
/* line 1569, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail .name {
  text-transform: uppercase;
  color: #fff;
}
/* line 1573, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail .position {
  color: #999;
}
/* line 1584, ../sass/print.scss */
#wrapper #footer .footer-widget {
  background: #fafafa;
  padding: 120px 0;
}
/* line 1588, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block {
  color: #373737;
}
/* line 1590, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .img {
  margin-bottom: 40px;
}
/* line 1593, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .title {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  /* line 1593, ../sass/print.scss */
  #wrapper #footer .footer-widget .footer-column-block .footer-widget-block .title {
    margin: 50px 0 0;
  }
}
/* line 1602, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
/* line 1606, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .desc a {
  color: #373737;
  text-decoration: none;
}
/* line 1609, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .desc a:hover {
  color: #2eb24c;
}
/* line 1615, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .list-menu ul {
  padding: 0;
  margin: 0;
}
/* line 1618, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .list-menu ul li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 1624, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .list-menu ul li a {
  color: #373737;
  text-decoration: none;
}
/* line 1627, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .list-menu ul li a:hover {
  color: #2eb24c;
}
/* line 1637, ../sass/print.scss */
#wrapper #footer .footer-bottom {
  background: #fff;
  text-align: center;
  padding: 30px 0;
}
/* line 1641, ../sass/print.scss */
#wrapper #footer .footer-bottom .txt {
  margin-bottom: 20px;
}
/* line 1644, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed {
  display: inline-block;
}
/* line 1646, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed ul {
  padding: 0;
  margin: 0;
}
/* line 1649, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed ul li {
  float: left;
  list-style: none;
  margin: 0 20px;
  font-size: 24px;
}
/* line 1654, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed ul li a {
  color: #181847;
}
/* line 1656, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed ul li a:hover {
  color: #2eb24c;
}
