/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
/* line 9, ../sass/print.scss */
body {
  font-family: 'Montserrat', sans-serif;
  background: #fafafa;
  color: #181847;
}

/* line 14, ../sass/print.scss */
a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

/* line 25, ../sass/print.scss */
.clear {
  clear: both;
}

/* line 28, ../sass/print.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999;
}

/* line 31, ../sass/print.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #999;
}

/* line 34, ../sass/print.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #999;
}

/* line 37, ../sass/print.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #999;
}

/* line 40, ../sass/print.scss */
.bg-white {
  background: #fff;
  padding: 50px 0;
}

/* line 44, ../sass/print.scss */
.back {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
/* line 49, ../sass/print.scss */
.back a {
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background: #2eb24c;
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #2eb24c;
}
/* line 57, ../sass/print.scss */
.back a:hover {
  background: transparent;
  color: #181847;
}

/* line 65, ../sass/print.scss */
#map {
  width: 100%;
  height: 620px;
}

/* line 70, ../sass/print.scss */
#wrapper {
  overflow: hidden;
}
/* line 72, ../sass/print.scss */
#wrapper #home {
  position: relative;
}
/* line 74, ../sass/print.scss */
#wrapper #home .header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  background: #fff;
}
@media (max-width: 1024px) {
  /* line 80, ../sass/print.scss */
  #wrapper #home .header .header-left {
    width: 100%;
  }
}
/* line 84, ../sass/print.scss */
#wrapper #home .header .header-left .logo {
  margin-left: -50px;
}
@media (max-width: 1024px) {
  /* line 84, ../sass/print.scss */
  #wrapper #home .header .header-left .logo {
    margin: 0;
    float: left;
  }
}
@media (max-width: 1024px) {
  /* line 91, ../sass/print.scss */
  #wrapper #home .header .header-left .navbar-header {
    display: block !important;
    float: right;
  }
}
/* line 96, ../sass/print.scss */
#wrapper #home .header .header-left .navbar-header .navbar-toggle {
  border: 1px solid #ccc;
}
@media (max-width: 1024px) {
  /* line 96, ../sass/print.scss */
  #wrapper #home .header .header-left .navbar-header .navbar-toggle {
    display: block !important;
  }
}
/* line 101, ../sass/print.scss */
#wrapper #home .header .header-left .navbar-header .navbar-toggle .icon-bar {
  background: #ccc;
}
@media (max-width: 1024px) {
  /* line 107, ../sass/print.scss */
  #wrapper #home .header .header-right {
    width: 100%;
  }
}
/* line 112, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 {
  float: right;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 112, ../sass/print.scss */
  #wrapper #home .header .header-right .header-right-wrapper .header-right-1 {
    display: none;
  }
}
/* line 118, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul {
  padding: 0;
  margin: 20px 0;
  display: inline-block;
}
/* line 122, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul li {
  list-style: none;
  font-size: 16px;
  float: left;
  margin-right: 30px;
}
/* line 127, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul li a {
  text-decoration: none;
  color: #2eb24c;
}
/* line 131, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul li:first-child {
  background: url(../img/icon-phone.png) no-repeat left center;
  padding-left: 30px;
}
/* line 135, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-1 ul li:last-child {
  margin-right: 0;
  background: url(../img/icon-email.png) no-repeat left center;
  padding-left: 30px;
}
/* line 143, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 {
  float: right;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 143, ../sass/print.scss */
  #wrapper #home .header .header-right .header-right-wrapper .header-right-2 {
    float: none;
  }
}
/* line 149, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop {
  display: inline-block;
}
@media (max-width: 1024px) {
  /* line 149, ../sass/print.scss */
  #wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop {
    display: none;
  }
}
/* line 154, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul {
  padding: 0;
  margin: 10px 0;
}
/* line 157, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li {
  list-style: none;
  float: left;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}
/* line 165, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li:hover .submenu {
  display: block;
}
/* line 169, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li a {
  text-decoration: none;
  color: #fff;
  padding: 20px 0;
}
/* line 173, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li a:hover {
  color: #2eb24c;
}
/* line 177, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li:last-child {
  margin-right: 0;
}
/* line 180, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .active {
  color: #2eb24c;
}
/* line 183, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu {
  display: none;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 0% 0 8% 8%;
  padding: 10px 20px;
}
/* line 190, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li {
  text-transform: none;
  display: block;
  float: none;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
}
/* line 199, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li a {
  color: #000;
  padding: 0;
  display: block;
}
/* line 203, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li a:hover {
  color: #2eb24c;
}
/* line 212, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile {
  background: #fff;
  text-align: left;
}
@media (max-width: 1024px) {
  /* line 212, ../sass/print.scss */
  #wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile {
    display: block !important;
  }
}
/* line 220, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav li {
  float: none;
}
/* line 222, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav li a {
  color: #333;
}
/* line 227, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul {
  padding: 10px 16px !important;
}
/* line 229, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li {
  list-style: none;
  padding-left: 30px;
}
/* line 232, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li:first-child {
  background: url(../img/icon-phone-black.png) no-repeat left center;
  margin-bottom: 10px;
}
/* line 236, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li:last-child {
  margin-right: 0;
  background: url(../img/icon-email-black.png) no-repeat left center;
}
/* line 245, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile .collapse {
  display: none !important;
}
/* line 248, ../sass/print.scss */
#wrapper #home .header .header-right .header-right-wrapper .header-right-2 .menus-mobile .in {
  display: block !important;
  overflow-y: auto !important;
}
/* line 257, ../sass/print.scss */
#wrapper #home .transparent {
  background: transparent;
}
/* line 260, ../sass/print.scss */
#wrapper #home .home-bg-wrapper {
  position: relative;
  background: url(../img/img-home.jpg) no-repeat center center;
  background-size: cover;
  min-height: 1131px;
}
@media (max-width: 1024px) {
  /* line 260, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper {
    min-height: 700px;
  }
}
@media (max-width: 667px) {
  /* line 260, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper {
    min-height: 800px;
  }
}
/* line 274, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .overlay {
  background: rgba(24, 24, 71, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 281, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 1024px) {
  /* line 281, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper .content-home {
    top: 10%;
  }
}
/* line 290, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline {
  color: #fff;
  width: 60%;
}
@media (max-width: 1024px) {
  /* line 290, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper .content-home .tagline {
    width: 100%;
    margin-top: 90px;
  }
}
/* line 297, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline h3 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
/* line 302, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline h2 {
  font-size: 60px;
  line-height: 60px;
}
/* line 306, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline .desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  width: 80%;
  margin-top: 90px;
}
@media (max-width: 1024px) {
  /* line 306, ../sass/print.scss */
  #wrapper #home .home-bg-wrapper .content-home .tagline .desc {
    width: 100%;
    font-size: 20px;
    margin-top: 0;
  }
}
/* line 319, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline .readmore {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 323, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline .readmore a {
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background: #2eb24c;
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #2eb24c;
}
/* line 331, ../sass/print.scss */
#wrapper #home .home-bg-wrapper .content-home .tagline .readmore a:hover {
  background: transparent;
}
/* line 339, ../sass/print.scss */
#wrapper #home .service-static-wrapper {
  margin-top: -200px;
  padding-bottom: 60px;
}
@media (max-width: 1024px) {
  /* line 339, ../sass/print.scss */
  #wrapper #home .service-static-wrapper {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  /* line 346, ../sass/print.scss */
  #wrapper #home .service-static-wrapper .service-static-block {
    margin-bottom: 20px;
  }
}
/* line 350, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a {
  background: #fff;
  text-align: center;
  color: #181847;
  display: inline-block;
  padding: 60px 50px;
  text-decoration: none;
}
/* line 357, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a:hover {
  background: #181847;
  color: #fff;
}
/* line 361, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a .img {
  height: 185px;
}
/* line 363, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a .img img {
  display: inline-block;
}
/* line 367, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a .title {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 371, ../sass/print.scss */
#wrapper #home .service-static-wrapper .service-static-block a .desc {
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
/* line 379, ../sass/print.scss */
#wrapper #home .call-service-wrapper {
  padding-top: 120px;
  text-align: center;
}
/* line 382, ../sass/print.scss */
#wrapper #home .call-service-wrapper .title {
  font-size: 60px;
  font-weight: 300;
  display: inline-block;
  width: 65%;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  /* line 382, ../sass/print.scss */
  #wrapper #home .call-service-wrapper .title {
    width: 100%;
    font-size: 42px;
  }
}
/* line 393, ../sass/print.scss */
#wrapper #home .call-service-wrapper .desc {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 35px;
}
/* line 400, ../sass/print.scss */
#wrapper #home .call-service-wrapper .img img {
  display: inline-block;
}
/* line 405, ../sass/print.scss */
#wrapper #home .about-block-wrapper {
  background: url(../img/bg-about.jpg) no-repeat;
  background-size: cover;
  min-height: 985px;
  padding: 180px 0;
}
/* line 411, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column {
  position: relative;
}
@media (max-width: 768px) {
  /* line 413, ../sass/print.scss */
  #wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img {
    text-align: center;
  }
}
/* line 417, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-left {
  float: left;
  margin-right: 10px;
}
@media (max-width: 768px) {
  /* line 417, ../sass/print.scss */
  #wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-left {
    float: none;
    margin: 0;
    display: inline-block;
  }
}
/* line 425, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-left .img {
  margin-bottom: 10px;
}
/* line 429, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-right {
  float: left;
  padding-top: 100px;
}
@media (max-width: 768px) {
  /* line 429, ../sass/print.scss */
  #wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-right {
    float: none;
    display: inline-block;
    padding-top: 0;
  }
}
/* line 437, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .about-block-column-img .col-right .img {
  margin-bottom: 10px;
}
/* line 442, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-left .about-block-column .title-hori {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  float: left;
  vertical-align: top;
  text-transform: uppercase;
  position: absolute;
  bottom: -35px;
  border-bottom: 1px solid;
  height: 32px;
  width: 150px;
  text-align: right;
  left: -60px;
}
/* line 465, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column {
  text-align: right;
  color: #fff;
  padding-top: 100px;
}
/* line 469, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .title {
  font-weight: 300;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 475, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .desc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
}
/* line 480, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .readmore {
  margin-top: 70px;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 484, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .readmore a {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background: #2eb24c;
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #2eb24c;
}
/* line 492, ../sass/print.scss */
#wrapper #home .about-block-wrapper .about-block-right .about-block-column .readmore a:hover {
  background: transparent;
}
/* line 500, ../sass/print.scss */
#wrapper #home .contact-service-wrapper {
  background: #fff url(../img/peta.png) no-repeat center center;
  min-height: 869px;
  text-align: center;
  padding: 150px 0;
}
/* line 505, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
}
/* line 511, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .desc {
  color: #373737;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 10%;
  margin-bottom: 50px;
}
/* line 520, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form {
  display: inline-block;
  width: 560px;
}
@media (max-width: 1024px) {
  /* line 520, ../sass/print.scss */
  #wrapper #home .contact-service-wrapper .contact-form-wrapp form {
    width: 100%;
    padding-bottom: 40px;
  }
}
/* line 527, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group {
  margin-bottom: 30px;
}
@media (max-width: 736px) {
  /* line 529, ../sass/print.scss */
  #wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group .col-sm-6:nth-child(1) {
    margin-bottom: 30px;
  }
}
/* line 534, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group input {
  background: #edeef5;
  font-size: 14px;
  color: #999;
}
/* line 539, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group textarea {
  background: #edeef5;
  font-size: 14px;
  padding: 6px 12px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 1024px) {
  /* line 539, ../sass/print.scss */
  #wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group textarea {
    width: 100%;
  }
}
/* line 550, ../sass/print.scss */
#wrapper #home .contact-service-wrapper .contact-form-wrapp form .form-group .send {
  float: right;
  border-radius: 4px;
  color: #fff;
  background: #0bd440;
  text-decoration: none;
  padding: 10px 60px;
  border: 1px solid #2eb24c;
  text-transform: uppercase;
}
/* line 564, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper {
  position: relative;
  background: url(../img/bg-testi.jpg) no-repeat center;
  background-size: cover;
  min-height: 707px;
  color: #fff;
}
/* line 570, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .overlay {
  background: rgba(24, 24, 71, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 577, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block {
  padding: 130px 0;
  position: relative;
  text-align: center;
}
/* line 581, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .title {
  font-size: 60px;
  padding-bottom: 60px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 587, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .quote {
  text-align: center;
  padding-bottom: 30px;
}
/* line 590, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .quote img {
  display: inline-block;
}
/* line 594, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column {
  outline: none;
}
/* line 596, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left {
  position: absolute;
  left: 0;
  top: 5%;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  outline: none;
}
/* line 607, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left:hover {
  color: #2eb24c;
}
@media (max-width: 1024px) {
  /* line 596, ../sass/print.scss */
  #wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left {
    display: none !important;
  }
}
/* line 614, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right {
  position: absolute;
  right: 0;
  top: 5%;
  cursor: pointer;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  outline: none;
}
/* line 626, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right:hover {
  color: #2eb24c;
}
@media (max-width: 1024px) {
  /* line 614, ../sass/print.scss */
  #wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right {
    display: none !important;
  }
}
/* line 634, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots li {
  display: inline-block;
}
/* line 636, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots li button {
  background: #fff;
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}
/* line 647, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots .slick-active button {
  background: #0bd440;
}
/* line 652, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide {
  outline: none;
}
/* line 654, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .desc {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 100px;
}
@media (max-width: 1024px) {
  /* line 654, ../sass/print.scss */
  #wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .desc {
    padding: 0;
  }
}
/* line 663, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user {
  display: inline-block;
  margin-top: 60px;
}
/* line 666, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .avatar {
  float: left;
}
/* line 668, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
/* line 674, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail {
  float: left;
  margin-left: 20px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
}
/* line 680, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail .name {
  text-transform: uppercase;
  color: #fff;
}
/* line 684, ../sass/print.scss */
#wrapper #home .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail .position {
  color: #999;
}
/* line 694, ../sass/print.scss */
#wrapper #page {
  position: relative;
}
/* line 696, ../sass/print.scss */
#wrapper #page .header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  background: #fff;
  min-height: 130px;
}
@media (max-width: 1024px) {
  /* line 703, ../sass/print.scss */
  #wrapper #page .header .header-left {
    width: 100%;
  }
}
/* line 707, ../sass/print.scss */
#wrapper #page .header .header-left .logo {
  margin-left: -50px;
}
@media (max-width: 1024px) {
  /* line 707, ../sass/print.scss */
  #wrapper #page .header .header-left .logo {
    margin: 0;
    float: left;
  }
}
@media (max-width: 1024px) {
  /* line 714, ../sass/print.scss */
  #wrapper #page .header .header-left .navbar-header {
    display: block !important;
    float: right;
  }
}
/* line 719, ../sass/print.scss */
#wrapper #page .header .header-left .navbar-header .navbar-toggle {
  border: 1px solid #ccc;
}
@media (max-width: 1024px) {
  /* line 719, ../sass/print.scss */
  #wrapper #page .header .header-left .navbar-header .navbar-toggle {
    display: block !important;
  }
}
/* line 724, ../sass/print.scss */
#wrapper #page .header .header-left .navbar-header .navbar-toggle .icon-bar {
  background: #ccc;
}
@media (max-width: 1024px) {
  /* line 730, ../sass/print.scss */
  #wrapper #page .header .header-right {
    width: 100%;
  }
}
/* line 735, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 {
  float: right;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 735, ../sass/print.scss */
  #wrapper #page .header .header-right .header-right-wrapper .header-right-1 {
    display: none;
  }
}
/* line 741, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul {
  padding: 0;
  margin: 20px 0;
  display: inline-block;
}
/* line 745, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul li {
  list-style: none;
  font-size: 16px;
  float: left;
  margin-right: 30px;
}
/* line 750, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul li a {
  text-decoration: none;
  color: #2eb24c;
}
/* line 754, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul li:first-child {
  background: url(../img/icon-phone-black.png) no-repeat left center;
  padding-left: 30px;
}
/* line 758, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-1 ul li:last-child {
  margin-right: 0;
  background: url(../img/icon-email-black.png) no-repeat left center;
  padding-left: 30px;
}
/* line 766, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 {
  float: right;
  text-align: center;
}
@media (max-width: 1024px) {
  /* line 766, ../sass/print.scss */
  #wrapper #page .header .header-right .header-right-wrapper .header-right-2 {
    float: none;
  }
}
/* line 772, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop {
  display: inline-block;
}
@media (max-width: 1024px) {
  /* line 772, ../sass/print.scss */
  #wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop {
    display: none;
  }
}
/* line 777, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul {
  padding: 0;
  margin: 10px 0;
}
/* line 780, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li {
  list-style: none;
  float: left;
  margin-right: 50px;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}
/* line 788, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li:hover .submenu {
  display: block;
}
/* line 792, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li a {
  text-decoration: none;
  color: #181847;
  padding: 20px 0;
}
/* line 796, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li a:hover {
  color: #2eb24c;
}
/* line 800, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li:last-child {
  margin-right: 0;
}
/* line 803, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .active {
  color: #2eb24c;
}
/* line 806, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu {
  display: none;
  position: absolute;
  top: 30px;
  background: #fff;
  border-radius: 0% 0 8% 8%;
  padding: 10px 20px;
}
/* line 813, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li {
  text-transform: none;
  display: block;
  float: none;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
}
/* line 822, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li a {
  color: #000;
  padding: 0;
  display: block;
}
/* line 826, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-desktop ul li .submenu li a:hover {
  color: #2eb24c;
}
/* line 835, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile {
  background: #fff;
  text-align: left;
}
@media (max-width: 1024px) {
  /* line 835, ../sass/print.scss */
  #wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile {
    display: block !important;
  }
}
/* line 843, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav li {
  float: none;
}
/* line 845, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav li a {
  color: #333;
}
/* line 850, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul {
  padding: 10px 16px !important;
}
/* line 852, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li {
  list-style: none;
  padding-left: 30px;
}
/* line 855, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li:first-child {
  background: url(../img/icon-phone-black.png) no-repeat left center;
  margin-bottom: 10px;
}
/* line 859, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile #navbar .navbar-nav .mobile-second-menu ul li:last-child {
  margin-right: 0;
  background: url(../img/icon-email-black.png) no-repeat left center;
}
/* line 868, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile .collapse {
  display: none !important;
}
/* line 871, ../sass/print.scss */
#wrapper #page .header .header-right .header-right-wrapper .header-right-2 .menus-mobile .in {
  display: block !important;
  overflow-y: auto !important;
}
/* line 880, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper {
  padding-top: 130px;
}
/* line 884, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .title {
  color: #181847;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 20px;
}
/* line 893, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .menus ul {
  padding: 0;
  margin: 0;
}
/* line 896, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .menus ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid #dcdcdc;
  padding: 20px;
}
/* line 903, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .menus ul li a {
  color: #373737;
  text-decoration: none;
  display: block;
}
/* line 907, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .menus ul li a:hover {
  color: #0bd440;
}
/* line 915, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li {
  text-transform: uppercase;
}
/* line 917, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li a {
  padding-left: 60px;
}
/* line 919, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li a:hover {
  color: #0bd440;
}
/* line 923, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li:nth-child(1) {
  background: url(../img/ico-1.png) no-repeat 5% center;
}
/* line 926, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li:nth-child(2) {
  background: url(../img/ico-2.png) no-repeat 5% center;
}
/* line 929, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .satu li:nth-child(3) {
  background: url(../img/ico-3.png) no-repeat 5% center;
}
/* line 936, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-left .widget .dua li .ico {
  float: left;
  color: #0bd440;
  font-size: 25px;
  width: 40px;
  text-align: center;
  margin-right: 20px;
}
/* line 948, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right {
  border-left: 1px solid #dcdcdc;
  margin-bottom: 100px;
}
/* line 951, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content {
  padding-left: 20px;
}
/* line 953, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-for {
  position: relative;
}
/* line 955, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-for .right {
  position: absolute;
  right: -12px;
  background: rgba(24, 24, 71, 0.8);
  padding: 2px 10px;
  color: #fff;
  top: 50%;
  font-size: 30px;
  z-index: 1;
  border: none;
  cursor: pointer;
}
/* line 967, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-for .left {
  position: absolute;
  left: -12px;
  background: rgba(24, 24, 71, 0.8);
  padding: 2px 10px;
  color: #fff;
  top: 50%;
  font-size: 30px;
  z-index: 1;
  border: none;
  cursor: pointer;
}
/* line 986, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-nav .thumb {
  padding: 10px;
}
/* line 988, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .slider-nav .thumb img {
  max-height: 150px;
}
@media (min-width: 1280px) {
  /* line 988, ../sass/print.scss */
  #wrapper #page .inner-detail-wrapper .column-right .content .slider-nav .thumb img {
    min-height: 120px;
  }
}
@media (max-width: 1024px) {
  /* line 988, ../sass/print.scss */
  #wrapper #page .inner-detail-wrapper .column-right .content .slider-nav .thumb img {
    min-height: 48px;
  }
}
/* line 1000, ../sass/print.scss */
#wrapper #page .inner-detail-wrapper .column-right .content .content-txt .subtitle {
  font-size: 24px;
  color: #181847;
  font-weight: 300;
  margin-bottom: 20px;
}
/* line 1011, ../sass/print.scss */
#wrapper #page .page-bg-wrapper {
  position: relative;
  background: url(../img/img-home.jpg) no-repeat center center;
  background-size: cover;
  min-height: 560px;
}
/* line 1016, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .overlay {
  background: rgba(24, 24, 71, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 1023, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .content-home {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 1024px) {
  /* line 1023, ../sass/print.scss */
  #wrapper #page .page-bg-wrapper .content-home {
    top: 45%;
  }
}
/* line 1032, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .content-home .tagline {
  color: #fff;
  width: 60%;
}
@media (max-width: 1024px) {
  /* line 1032, ../sass/print.scss */
  #wrapper #page .page-bg-wrapper .content-home .tagline {
    width: 100%;
  }
}
/* line 1038, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .content-home .tagline h3 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
/* line 1043, ../sass/print.scss */
#wrapper #page .page-bg-wrapper .content-home .tagline h2 {
  font-size: 60px;
  line-height: 60px;
}
@media (max-width: 768px) {
  /* line 1043, ../sass/print.scss */
  #wrapper #page .page-bg-wrapper .content-home .tagline h2 {
    font-size: 43px;
  }
}
/* line 1053, ../sass/print.scss */
#wrapper #page .contact-info-wrapper {
  background: #fff;
  padding-top: 130px;
  padding-bottom: 100px;
  text-align: center;
}
/* line 1058, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .title {
  font-size: 60px;
  color: #181847;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 70px;
}
@media (max-width: 768px) {
  /* line 1058, ../sass/print.scss */
  #wrapper #page .contact-info-wrapper .title {
    font-size: 42px;
  }
}
/* line 1068, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .desc {
  color: #373737;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
/* line 1074, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column {
  margin-top: 60px;
}
@media (max-width: 768px) {
  /* line 1077, ../sass/print.scss */
  #wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block {
    margin-bottom: 30px;
  }
}
/* line 1081, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .img {
  margin-bottom: 30px;
  border: 3px solid #0bd440;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
}
/* line 1088, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .img i {
  font-size: 40px;
  line-height: 95px;
  color: #373737;
}
/* line 1093, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .img:hover {
  background: #0e0b53;
}
/* line 1095, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .img:hover i {
  color: #fff;
}
/* line 1100, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #181847;
  margin-bottom: 10px;
}
/* line 1106, ../sass/print.scss */
#wrapper #page .contact-info-wrapper .contact-info-column .contact-info-column-block .block .info {
  color: #373737;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}
/* line 1118, ../sass/print.scss */
#wrapper #page .maps-wrapper .overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 620px;
  top: 620px;
  margin-top: -620px;
}
/* line 1126, ../sass/print.scss */
#wrapper #page .maps-wrapper iframe {
  width: 100%;
  height: 620px;
  pointer-events: none;
}
/* line 1132, ../sass/print.scss */
#wrapper #page .contact-service-wrapper {
  background: #fff url(../img/peta.png) no-repeat center center;
  min-height: 869px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
}
/* line 1138, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 50px;
}
/* line 1144, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .desc {
  color: #373737;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 10%;
  margin-bottom: 50px;
}
/* line 1153, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form {
  display: inline-block;
  width: 560px;
}
@media (max-width: 1024px) {
  /* line 1153, ../sass/print.scss */
  #wrapper #page .contact-service-wrapper .contact-form-wrapp form {
    width: 100%;
    padding-bottom: 40px;
  }
}
/* line 1160, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group {
  margin-bottom: 30px;
}
@media (max-width: 736px) {
  /* line 1162, ../sass/print.scss */
  #wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group .col-sm-6:nth-child(1) {
    margin-bottom: 30px;
  }
}
/* line 1167, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group input {
  background: #edeef5;
  font-size: 14px;
  color: #999;
}
/* line 1172, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group textarea {
  background: #edeef5;
  font-size: 14px;
  padding: 6px 12px;
  color: #999;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media (max-width: 1024px) {
  /* line 1172, ../sass/print.scss */
  #wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group textarea {
    width: 100%;
  }
}
/* line 1183, ../sass/print.scss */
#wrapper #page .contact-service-wrapper .contact-form-wrapp form .form-group .send {
  float: right;
  border-radius: 4px;
  color: #fff;
  background: #0bd440;
  text-decoration: none;
  padding: 10px 60px;
  border: 1px solid #2eb24c;
  text-transform: uppercase;
}
/* line 1197, ../sass/print.scss */
#wrapper #page .overview-wrapper {
  background: #0e0b53;
  padding-top: 130px;
  padding-bottom: 100px;
  color: #fff;
}
/* line 1202, ../sass/print.scss */
#wrapper #page .overview-wrapper .title {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  /* line 1202, ../sass/print.scss */
  #wrapper #page .overview-wrapper .title {
    font-size: 42px;
  }
}
/* line 1212, ../sass/print.scss */
#wrapper #page .overview-wrapper .desc {
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-bottom: 113px;
}
/* line 1222, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 {
  text-align: center;
}
@media (max-width: 768px) {
  /* line 1222, ../sass/print.scss */
  #wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 {
    margin: 40px;
  }
}
/* line 1227, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 img {
  display: inline-block;
}
@media (min-width: 1024px) {
  /* line 1222, ../sass/print.scss */
  #wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 {
    position: absolute;
    right: 0;
    bottom: -10%;
  }
  /* line 1234, ../sass/print.scss */
  #wrapper #page .overview-wrapper .overview-column .overview-left .overview-block .img2 img {
    width: 85%;
  }
}
/* line 1242, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-right .overview-block {
  position: relative;
  font-weight: 300;
}
/* line 1245, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-right .overview-block .title {
  font-size: 36px;
  text-align: right;
}
/* line 1249, ../sass/print.scss */
#wrapper #page .overview-wrapper .overview-column .overview-right .overview-block .desc {
  text-align: right;
  font-size: 18px;
}
/* line 1257, ../sass/print.scss */
#wrapper #page .history-wrapper {
  background: #fff;
  padding-top: 140px;
  padding-bottom: 100px;
  color: #373737;
}
/* line 1264, ../sass/print.scss */
#wrapper #page .history-wrapper .history-left .history-block .title {
  font-weight: 300;
  font-size: 36px;
}
/* line 1268, ../sass/print.scss */
#wrapper #page .history-wrapper .history-left .history-block .desc {
  font-weight: 300;
  font-size: 18px;
}
/* line 1276, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .img {
  margin-top: -230px;
  text-align: right;
}
@media (max-width: 768px) {
  /* line 1276, ../sass/print.scss */
  #wrapper #page .history-wrapper .history-right .history-block .img {
    margin-top: 0;
  }
}
/* line 1282, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .img img {
  display: inline-block;
  width: 100%;
}
/* line 1287, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .cs-block {
  background: #0cd440;
  color: #fff;
  padding: 20px 50px;
}
/* line 1292, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .cs-block .cs img {
  margin-right: 20px;
}
/* line 1295, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .cs-block .cs .time {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}
/* line 1300, ../sass/print.scss */
#wrapper #page .history-wrapper .history-right .history-block .cs-block .cs .phone {
  font-weight: 700;
  font-size: 30px;
}
/* line 1309, ../sass/print.scss */
#wrapper #page .renovation-wrapper {
  padding-top: 130px;
  padding-bottom: 100px;
  text-align: center;
}
/* line 1313, ../sass/print.scss */
#wrapper #page .renovation-wrapper .title {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 300;
}
@media (max-width: 768px) {
  /* line 1313, ../sass/print.scss */
  #wrapper #page .renovation-wrapper .title {
    font-size: 42px;
  }
}
/* line 1321, ../sass/print.scss */
#wrapper #page .renovation-wrapper .desc {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #373737;
}
/* line 1329, ../sass/print.scss */
#wrapper #page .service-static-wrapper .second-column {
  margin-top: 60px;
}
/* line 1331, ../sass/print.scss */
#wrapper #page .service-static-wrapper .second-column .subtitle {
  color: #181847;
  font-size: 36px;
  font-weight: 800;
}
/* line 1336, ../sass/print.scss */
#wrapper #page .service-static-wrapper .second-column .subtitle2 {
  color: #373737;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  /* line 1343, ../sass/print.scss */
  #wrapper #page .service-static-wrapper .service-static-block {
    margin-bottom: 20px;
  }
}
/* line 1347, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a {
  width: 100%;
  background: #fff;
  text-align: center;
  color: #181847;
  display: inline-block;
  padding: 60px 50px;
  text-decoration: none;
}
/* line 1355, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a:hover {
  background: #181847;
  color: #fff;
}
/* line 1359, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a .img {
  height: 185px;
}
/* line 1361, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a .img img {
  display: inline-block;
}
/* line 1365, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a .title {
  font-size: 24px;
  margin-bottom: 20px;
}
/* line 1369, ../sass/print.scss */
#wrapper #page .service-static-wrapper .service-static-block a .desc {
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
/* line 1376, ../sass/print.scss */
#wrapper #page .service-static-wrapper .seeall {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin: 50px 0;
}
/* line 1381, ../sass/print.scss */
#wrapper #page .service-static-wrapper .seeall a {
  display: inline-block;
  background: #0bd440;
  border: 1px solid #0bd440;
  color: #fff;
  padding: 10px 50px;
  border-radius: 5px;
  text-decoration: none;
}
/* line 1392, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper {
  background: url(../img/bg-bottom.jpg) no-repeat center center;
  background-size: cover;
  min-height: 710px;
}
/* line 1396, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content {
  position: relative;
  overflow-y: hidden;
  min-height: 710px;
}
/* line 1400, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .tagline {
  color: #fff;
  float: left;
  position: absolute;
  top: 30%;
}
/* line 1405, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .tagline h3 {
  font-size: 72px;
  font-weight: 800;
}
@media (max-width: 1024px) {
  /* line 1405, ../sass/print.scss */
  #wrapper #page .bottom-bg-wrapper .content .tagline h3 {
    font-size: 60px;
  }
}
/* line 1412, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .tagline .desc {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
/* line 1417, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .img {
  position: absolute;
  right: 0;
  top: 8%;
}
/* line 1422, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .readmore {
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 1426, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .readmore a {
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  background: #2eb24c;
  text-decoration: none;
  padding: 10px 40px;
  border: 1px solid #2eb24c;
}
/* line 1434, ../sass/print.scss */
#wrapper #page .bottom-bg-wrapper .content .readmore a:hover {
  background: transparent;
}
/* line 1441, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper {
  position: relative;
  background: url(../img/bg-testi.jpg) no-repeat center;
  background-size: cover;
  min-height: 707px;
  color: #fff;
}
/* line 1447, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .overlay {
  background: rgba(24, 24, 71, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 1454, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block {
  padding-top: 130px;
  position: relative;
  text-align: center;
}
/* line 1458, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .title {
  font-size: 60px;
  padding-bottom: 60px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 1464, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .quote {
  text-align: center;
  padding-bottom: 30px;
}
/* line 1467, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .quote img {
  display: inline-block;
}
/* line 1471, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column {
  outline: none;
}
/* line 1473, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left {
  position: absolute;
  left: 0;
  top: 5%;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  outline: none;
}
/* line 1484, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left:hover {
  color: #2eb24c;
}
@media (max-width: 1024px) {
  /* line 1473, ../sass/print.scss */
  #wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .left {
    display: none !important;
  }
}
/* line 1491, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right {
  position: absolute;
  right: 0;
  top: 5%;
  cursor: pointer;
  font-size: 30px;
  border: 2px solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 45px;
  outline: none;
}
/* line 1503, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right:hover {
  color: #2eb24c;
}
@media (max-width: 1024px) {
  /* line 1491, ../sass/print.scss */
  #wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .right {
    display: none !important;
  }
}
/* line 1511, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots li {
  display: inline-block;
}
/* line 1513, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots li button {
  background: #fff;
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 50%;
  margin-right: 10px;
  border: none;
}
/* line 1524, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .slick-dots .slick-active button {
  background: #0bd440;
}
/* line 1529, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide {
  outline: none;
}
/* line 1531, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .desc {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 100px;
}
@media (max-width: 1024px) {
  /* line 1531, ../sass/print.scss */
  #wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .desc {
    padding: 0;
  }
}
/* line 1540, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user {
  display: inline-block;
  margin-top: 60px;
}
/* line 1543, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .avatar {
  float: left;
}
/* line 1545, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .avatar img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
/* line 1551, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail {
  float: left;
  margin-left: 20px;
  line-height: 30px;
  text-align: left;
  font-size: 16px;
}
/* line 1557, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail .name {
  text-transform: uppercase;
  color: #fff;
}
/* line 1561, ../sass/print.scss */
#wrapper #page .testimoni-home-wrapper .testimoni-home-block .testimoni-slide-column .testimoni-slide .user .user-detail .position {
  color: #999;
}
/* line 1572, ../sass/print.scss */
#wrapper #footer .footer-widget {
  background: #fafafa;
  padding: 120px 0;
}
/* line 1576, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block {
  color: #373737;
}
/* line 1578, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .img {
  margin-bottom: 40px;
}
/* line 1581, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .title {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  /* line 1581, ../sass/print.scss */
  #wrapper #footer .footer-widget .footer-column-block .footer-widget-block .title {
    margin: 50px 0 0;
  }
}
/* line 1590, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
/* line 1594, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .desc a {
  color: #373737;
  text-decoration: none;
}
/* line 1597, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .desc a:hover {
  color: #2eb24c;
}
/* line 1603, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .list-menu ul {
  padding: 0;
  margin: 0;
}
/* line 1606, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .list-menu ul li {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 1612, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .list-menu ul li a {
  color: #373737;
  text-decoration: none;
}
/* line 1615, ../sass/print.scss */
#wrapper #footer .footer-widget .footer-column-block .footer-widget-block .list-menu ul li a:hover {
  color: #2eb24c;
}
/* line 1625, ../sass/print.scss */
#wrapper #footer .footer-bottom {
  background: #fff;
  text-align: center;
  padding: 30px 0;
}
/* line 1629, ../sass/print.scss */
#wrapper #footer .footer-bottom .txt {
  margin-bottom: 20px;
}
/* line 1632, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed {
  display: inline-block;
}
/* line 1634, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed ul {
  padding: 0;
  margin: 0;
}
/* line 1637, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed ul li {
  float: left;
  list-style: none;
  margin: 0 20px;
  font-size: 24px;
}
/* line 1642, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed ul li a {
  color: #181847;
}
/* line 1644, ../sass/print.scss */
#wrapper #footer .footer-bottom .sosmed ul li a:hover {
  color: #2eb24c;
}
